<%- include('partials/header') %>

<div class="container center" style="padding-top: 150px;">

<h1 style="font-family: 'PT Serif', serif;" class="center"> Welcome to <span style=" color: #ff695f;">Biz</span>Questa Affiliate Dashboard!</h1>
<br>
<p>Total users: <%= users.length-1 %></p>
<br>
<br>
<div class="search">
  <form class="example" action="/search" method="POST">
      <input type="text" placeholder="Search user/email..." name="input">
      <button type="submit">Search</button>
  </form>
</div>
<br>
<br>
<h3 class="center"style="text-decoration: underline;">Users Statements</h3>
        <main id="main">
            <div class="center container div-port" style="border: 1px solid black; margin-top: 30px; border-radius: 20px;">
                <br>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Account Type</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">User Reference Id</th>
                        <th scope="col">Subscription</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Commissions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(var i = users.length-1; i>= 0; i--){ %>
                          <tr>
                            <th scope="row"><%= users[i].username %></th>
                            <td><%= users[i].name %></td>
                            <% if(users[i].type == "0"){ %>
                              <td>Admin</td>
                            <% } else { %>
                              <td>Affilaite</td>
                            <% } %>
                            <td><%= users[i].phone %></td>
                            <td><%= users[i].email %></td>
                            <td><%= users[i].userreference %></td>
                            <% if(users[i].product != undefined && users[i].product.toString().trim() == "2"){ %>
                              <td>Bizquesta Supreme</td>
                            <% } else { %>
                              <td>Bizquesta Branding and Marketing Kit</td>
                            <% } %>
                            <td><a href="/users/<%= users[i]._id %>">Delete</a></td>
                            <td><a href="/users/details/<%= users[i]._id %>">Commissions</a></td>
                          </tr>
                        <% } %>
                    </tbody>
                  </table>  
                </div>
                <br>
          </main><!-- End #main -->
</div>

<style>
  tr:nth-child(even) {background-image: linear-gradient(to right, #FF3600, white);}
</style>

<%- include('partials/footer') %>